$clr-grey: grey;
$clr-black: black;
$cell-size: 8px;

.cell {
    width: $cell-size;
    height: $cell-size;
    margin: 2px;
    border: 1px solid $clr-grey;

    &.is-active {
        background: $clr-black;
    }
}
